.display-cover{
  display: none;
  top: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.display-cover.toggled{
  display: block;
  pointer-events: all;
}

.concealer-input-box{
  position: fixed;
  bottom: -120px;
  height: 120px;
  width: 100%;
  transition: 0.2s ease;
  background-color: #ffffff;
  text-align: center;
}

.concealer-input-box *{
  font-family: "HiraginoSans";
}

.concealer-input-box h2{
  font-weight: 100;
}

.concealer-input-box.visible{
  bottom: 0px;
}

.concealer-input{
  box-sizing: border-box;
  padding: 0.2em 10px;
  height: 25px;
  margin: 0.5em 0px 1.5em 0px;
  width: 80vw !important;
}