body{
  margin: 0px !important;
}

video{
  position: relative;
  overflow: hidden;
}

#movie-controller{
  position: absolute;
  left: 0px;
  bottom: -100px;
  opacity: 0.3;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 0.3s ease;
  user-select: none;
  z-index: 500;
}

#movie-controller:hover{
  bottom: -60px;
  opacity: 1;
}

#movie-controller.advanced{
  bottom: -100px;
}

#movie-controller.advanced:hover{
  bottom: 0px;
}

.swich-controller{
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 10px 30px 10px 30px;
  height: 40px;
  vertical-align: top;
  line-height: 40px;
  cursor: pointer;
  background-color: #212121;
  color: #ffffff;
  transition: 0.3s ease;
  transform: scale(1.0, 1.0);
}

.swich-controller i{
  line-height: 40px;
  vertical-align: top;
}

.swich-controller:hover{
  transform: scale(1.1, 1.1);
}

.swich-controller.col5{
  margin: 10px 12px 10px 12px;
}

.undone-list-container{
  z-index: 5;
  position: absolute;
  transition: 0.3s ease;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: #ffffff;
  overflow: scroll;
}

.undone-list-container.visible{
  opacity: 1;
  pointer-events: all;
}

.undone-list-container h1{
  box-sizing: border-box;
  font-size: 1.6em;
  font-weight: 100;
  color: #212121;
  padding: 10px 0px;
  margin: 5px 0px;
}

.undone-list{
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 10px 0px;
  font-size: 1.2em;
}

.undone-list a{
  color: #212121;
  text-decoration: none;
  transition: 0.15s ease;
}

.undone-list a:hover{
  text-shadow: 0px 0px 3px orange;
}