*{
  font-family: "HiraginoSans";
}

body{
  margin: 0px !important;
}

video{
  position: relative;
  overflow: hidden;
}

iframe{
  overflow: hidden;
}

/*Tokyo-shoseki*/

#movie-controller{
  position: absolute;
  left: 0px;
  bottom: -100px;
  opacity: 0.3;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 0.3s ease;
  user-select: none;
  z-index: 500;
}

#movie-controller:hover{
  bottom: -60px;
  opacity: 1;
}

#movie-controller.advanced{
  bottom: -100px;
}

#movie-controller.advanced:hover{
  bottom: 0px;
}

.swich-controller{
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 10px 15px 10px 15px;
  height: 40px;
  vertical-align: top;
  line-height: 40px;
  cursor: pointer;
  background-color: #212121;
  color: #ffffff;
  transition: 0.3s ease;
  transform: scale(1.0, 1.0);
}

.swich-controller i{
  line-height: 40px;
  vertical-align: top;
}

.swich-controller:hover{
  transform: scale(1.1, 1.1);
}

.swich-controller.col5{
  margin: 10px 12px 10px 12px;
}

.movie-cover{
  z-index: 5;
  position: absolute;
  transition: 0.3s ease;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: #ffffff;
  overflow: scroll;
}

.movie-cover.visible{
  opacity: 1;
  pointer-events: all;
}

.movie-cover h1{
  box-sizing: border-box;
  font-size: 1.6em;
  font-weight: 100;
  color: #212121;
  padding: 10px 0px;
  margin: 5px 0px;
}

.undone-list{
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 10px 0px;
  font-size: 1.2em;
}

.undone-list a{
  color: #212121;
  text-decoration: none;
  transition: 0.15s ease;
}

.undone-list a:hover{
  text-shadow: 0px 0px 3px orange;
}

.undone-list-container-close, .info-list-container-close{
  position: fixed;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: transparent;
}

.undone-list-container-close:hover, .info-list-container-close:hover{
  background-color: lightgray;
}

.undone-list-container-close i{
  line-height: 25px;
  vertical-align: top;
  pointer-events: none;
}

.icon-automate{
  transition: 0.25s ease;
  transform: rotateZ(0deg);
}

.icon-automate.inactive{
  transform: rotateZ(90deg);
}

.movie-toast{
  position: absolute;
  transition: 0.15s ease;
  box-sizing: border-box;
  z-index: 50;
  background-color: #212121;
  padding: 0px 12px;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 50px;
  text-align: left;
  opacity: 0;
  pointer-events: none;
}

.movie-toast.visible{
  opacity: 1;
}

.movie-toast.dodge{
  top: 60px;
}

.movie-toast span{
  color: #ffffff;
  line-height: 50px;
  vertical-align: top;
  font-size: 1.2em;
}

.material-icons.toast-icon{
  line-height: 50px;
  vertical-align: top;
  font-size: 3em;
  color: #ffffff;
}

.controller{
  position: absolute;
  z-index: 10;
  top: -72px;
  width: 100%;
  height: 72px;
  transition: 0.3s ease;
  background-color: #212121;
  color: #ffffff;
  opacity: 0.2;
}

.controller.first-exhibition{
  opacity: 1 !important;
}

.controller.visible{
  top: 0px;
}

.controller:hover{
  opacity: 1;
}

.controller-inner-container{
  position: relative;
  box-sizing: border-box;
  padding-top: 10px;
  height: 100%;
  width: 100%;
}

.controller-inner-container p{
  display: inline-block;
  padding-left: 10px;
}

.progress-bar-container, .exact-bar-container{
  position: relative;
  cursor: pointer;
  margin: 0px 2% 0px 2%;
  width: 96%;
  height: 6px;
  background-color: #000000;
}

.exact-bar-container{
  margin-top: 12px;
}

.progress-bar, .exact-bar{
  position: absolute;
  top: 0px;
  width: 0%;
  height: 6px;
  background-color: #c0392b;
}

.exact-bar{
  background-color: #2980b9;
}

.movie-time{
  font-size: 1.1;
}

.mute, .pause{
  float: right;
  height: 25px;
  width: 25px;
  margin: 9px 10px 0px 0px;
  cursor: pointer;
  text-align: center;
}

.mute i, .pause i{
  vertical-align: top;
  line-height: 25px; 
}

/*nnn.ed.jp*/

input[type="button"]{
  border-radius: 0px !important;
  font-family: "HiraginoSans" !important;
  font-weight: 100 !important;
}

#contents{
  position: relative;
}

.status-checker{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 160px;
  height: 64px;
  box-sizing: border-box;
  padding-left: 25px;
  text-align: center;
  border-radius: 0px 0px 0px 64px;
  background-color: #212121;
}

.status-checker.aligned{
  position: fixed;
  right: 0px;
  top: 0px;
}

.status-checker h2{
  line-height: 64px;
  color: #ffffff;
  margin: 0px;
}

.button-left, .button-center, .button-right{
  transition: 0.1s ease;
  transform: scale(1.0, 1.0);  
}

.button-left:hover, .button-center:hover, .button-right:hover{
  transform: scale(1.05, 1.05);
}

input[type="button"].practicable.impracticable{
  background-color: #7f8c8d !important;
  cursor: default;
}

input[type="button"].practicable{
  background-color: #212121;
}

#movie > h1{
  display: inline-block;
}

.container-items{
  float: right;
  height: 27px;
  width: 27px;
  margin: 10px 0px 10px 10px;
  transition: 0.2s ease;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.container-items i{
  line-height: 27px;
}

.container-items:hover{
  background-color: lightgray;
}

.clipboard-input{
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.help{
  color: #000000;
}

#chapterProgress.onBoard{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#chapterProgress > h1{
  display: inline-block;
  margin-left: 15px;
}

#chapterProgress.onBoard > h1{
  margin-left: 30px;
}

#chapterProgress table.onBoard{
  display: none;
}

#chapterProgress .flight{
  transition: background-color 0.2s ease-out;
}

#chapterProgress.onBoard .flight{
  margin-right: 15px;
  
}

.no-list-available{
  font-weight: 100;
  text-align: center;
}

.chat-frame{
  width: 100%;
  height: 550px;
  border: none;
  display: none;
}

.chat-frame.onBoard{
  display: block;
}