:root{
  --mainColor: #878ECD;
  --subColor: #B9BBDF;

  --lightMainColor: #DFF4F3;
  --lightSubColor: #DDE7F2;
  
  --successColor: #80D49C;
}

*{
  font-family: "Noto Sans Japanese";
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0px;
}

main{
  overflow: hidden;
}

.landing-view{
  position: relative;
  height: calc(100vh + 64px);
  width: 100%;
  background-color: var(--mainColor);
}

.landing-view.hide{
  height: 64px;
}

.landing-view h1{
  position: absolute;
  font-size: 3.6em;
  color: #ffffff;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -100%);
}

.landing-view.hide h1{
  display: none;
}

.btn-start{
  position: absolute;
  height: 80px;
  width: 160px;
  line-height: 80px;
  cursor: pointer;
  font-size: 2em;
  vertical-align: top;
  color: #ffffff;
  left: 50%;
  top: 65%;
  border: solid 1px;
  text-align: center;
  transition: 0.4s ease;
  transform: translate(-50%, -100%);
  overflow: hidden;
}

.landing-view.hide .btn-start{
  display: none;
}

.btn-start span{
  position: absolute;
  left: 50%;
  top: 50%;
  letter-spacing: 3px;
  transition: inherit;
  transform: translate(-50%, -50%);
}

.btn-start:hover span{
  left: -50%;
}

.btn-start:before{
  content: "keyboard_arrow_right";
  font-family: 'Material Icons';
  transition: inherit;
  font-size: 2em;
  position: absolute;
  left: 100%;
  text-align: center;
  width: 160px;
  height: 80px;
}

.btn-start:hover:before{
  left: 0%;
}

.header{
  position: absolute;
  bottom: 0px;
  height: 64px;
  margin: 0px auto;
  min-width: 1000px;
}

.header ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  height: 64px;
  padding: 0px;
  margin: 0px;
}

.header ul li{
  padding: 0px;
  margin: 0px;
  transition: 0.4s ease;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.4em;
  line-height: 64px;
  list-style: none;
  user-select: none;
}

.header ul li:hover{
  text-shadow: 0px 0px 3px var(--lightMainColor);
}

.logo-image{
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.desc-container{
  position: relative;
  transition: 0.5s ease;
  box-sizing: border-box;
  overflow: scroll;
  color: #212121;
  padding: 3vh 5vw;
  height: calc(100vh - 64px);
  width: 100%;
}

.desc-container.disabled{
  overflow: hidden;
}

.desc-container.active{
  padding: 0px;
  overflow: hidden;
}

[class*="container-"]{
  opacity: 0;
  transition: 0.5s ease;
}

[class*="container-"].active{
  opacity: 1;
}

.container-function{
  position: relative;
  width: 100%;
}

.card-container{
  position: relative;
  display: block;
  width: 800px;
  margin: 0px auto;
}

.card{
  height: 380px;
  width: 350px;
  float: left;
  margin: 25px;
  box-sizing: border-box;
  padding-top: 16.8px;
  text-align: center;
  box-shadow: 2px 2px 5px lightgray;
}

.card:last-child{
  clear: both;
  float: none;
  margin: 0px auto;
}

.card p{
  font-size: 1em;
}

.key-desc-title{
  font-size: 1.4em;
}

.icon-sample{
  height: 150px;
  width: 150px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  background-color: var(--mainColor);
  margin: 30px 0px;
  box-shadow: 2px 2px 3px lightgray;
}

.icon-sample span{
  line-height: 150px;
  font-size: 6em;
  color: #ffffff;
}

.container-installation{
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

[class*="following-"]{
  position: relative;
  width: 100%;
  text-align: center;
  height: 17.5vh;
}

[class*="following-"] p{
  font-size: 1.6em;
  line-height: calc(17.5vh + 40px);
  margin: 0px;
}

[class*="following-"]:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  border-style: solid;
  border-width: 40px 50vw 0 50vw;
}

.following-step-1{
  background-color: var(--mainColor);
  color: #ffffff;
  z-index: 4;
}

.following-step-2{
  background-color: var(--subColor);
  color: #000000;
  z-index: 3;
}

.following-step-3{
  background-color: var(--lightSubColor);
  color: #000000;
  z-index: 2;
}

.following-step-4{
  background-color: var(--lightMainColor);
  color: #000000;
  z-index: 1;
}

.following-step-5{
  background-color: #ffffff;
  color: #000000;
  bottom: 0px;
  z-index: 0;
}

.following-step-1:before{
  border-color: var(--mainColor) transparent transparent transparent;
}

.following-step-2:before{
  border-color: var(--subColor) transparent transparent transparent;
}

.following-step-3:before{
  border-color: var(--lightSubColor) transparent transparent transparent;
}

.following-step-4:before{
  border-color: var(--lightMainColor) transparent transparent transparent;
}

.following-step-5:before{
  display: none;
}

.container-contact{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: scroll;
}

.mail-form{
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 30px 0px 40px 0px;
  width: 500px;
  margin: 8vh auto 40px auto;
  text-align: center;
  box-shadow: 2px 2px 5px lightgray;
}

.mail-form h2{
  font-size: 1.9em;
  line-height: 40px;
  vertical-align: bottom;
}

[class*="input-container-"]{
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0px 5%;
  opacity: 1;
}

.input-container-name{
  float: left;
}

.input-container-mail{
  float: right;
}

.mail-form input{
  position: relative;
  display: block;
  width: 80%;
  height: 2em;
  font-size: 1.5em;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0px 10px;
}

.textarea-container{
  clear: both;
  margin-bottom: 30px;
  opacity: 1;
}

.mail-form textarea{
  width: 80%;
  min-height: 220px;
  resize: vertical;
  outline: none;
  border: none;
  font-size: 1.3em;
  background-color: #f0f0f0;
}

.mail-form-submit{
  position: relative;
  height: 60px;
  width: 140px;
  color: #ffffff;
  line-height: 60px;
  font-size: 1.6em;
  vertical-align: top;
  background-color: var(--mainColor);
  margin: 0px auto;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  transition: 0.3s ease;
}

.mail-form-submit:hover{
  background-color: var(--subColor);
}

.mail-form-submit:active{
  background-color: var(--lightSubColor);
}

[class*="form-submitted-icon"]{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
}

.form-submitted-icon-border{
  opacity: 1;
  animation: dash 15s linear infinite;
}

.form-submitted-icon{
  opacity: 0;
  transition: ease 0.4s;
}

.form-submitted-icon.active{
  opacity: 1;
}

/*TOAST*/

.toast{
  position: fixed;
  right: 0px;
  bottom: -60px;
  height: 60px;
  width: 220px;
  background-color: #212121;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  line-height: 60px;
  transition: 0.4s ease;
}

.toast.visible{
  bottom: 0px;
}

/*PROPERTY*/

.submitted{
  opacity: 0.2 !important;
  pointer-events: none !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@media (min-width: 300px) and (max-width: 800px){
  
  .landing-view{
    text-align: center;
  }
  
  .card{
    clear: both;
    float: none;
    margin: 0px auto 20px auto;
  }
  
  .card-container{
    width: 350px;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}